services:
  redis:
    image: redis:7
    container_name: djangoapi-redis
    ports:
      - "6379:6379"

  db:
    image: postgres:15
    container_name: djangoapi-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U django_user -d djangoapi_dev" ]
      interval: 2s
      timeout: 5s
      retries: 10

  web:
    build: .
    volumes:
      - .:/app
    container_name: djangoapi-web
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    env_file:
      - .env

  celery:
    build: .
    container_name: djangoapi-celery
    command: celery -A backend worker -l info
    volumes:
      - .:/app
    depends_on:
      - web
      - redis
    env_file:
      - .env
    environment:
      REDIS_URL: redis://redis:6379/0
